.CreateProductMainPage {
  background-color: lightblue;
}
#category-list {
  outline: black;
  outline: 5px solid lightblue;
  width: 25%;
  height: 200px;
  border-radius: 25px;
  overflow: scroll;
  padding: 1%;
}

#category-list-item {
  outline: black;
  outline: 1px solid lightblue;
  display: inline-flexbox;
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  padding: 1%;
  margin: 1%;
}

#category-list-add{
  display: flex;
}

th, td {
  border: 1px solid black;
  border-radius: 10px;
  height: 60px;
  width: auto;
}